<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row pushed-row">
        <div class="col-sm-12">
          <h1>Select your Genres</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Hip-Hop</h3>
                    <p></p>
                    <p>
                        <button ng-click="toggleSelect('r-b-hip-hop-songs')" class="btn btn-primary">Select</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Country</h3>
                    <p></p>
                    <p>
                        <button ng-click="toggleSelect('country-songs')" class="btn btn-primary">Select</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pop</h3>
                    <p></p>
                    <p>
                        <button ng-click="toggleSelect('pop-songs')" class="btn btn-primary">Select</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Alt Rock</h3>
                    <p></p>
                    <p>
                        <button ng-click="toggleSelect('alternative-songs')" class="btn btn-primary">Select</button>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
